{% extends 'template.html' %}
{% block body %}
    <div class="container">
        <h1 class="text-center text-bold mt-5">{{data['title']}}</h1>
        <ol>
            {% for step in data['steps'] %}
                <li> <a href="#step-{{loop.index}}">{{step.subtitle}}</a></li>      
            {% endfor %}
        </ol>
        <div>
            {% for step in data['steps'] %}
                <div id="step-{{loop.index}}" class="row">
                    <h2>Step {{ loop.index }}:</h2>
                    <h3 class = "my-2 text-center">{{step.subtitle}}</h3>
                    <h5 class="my-3">{{step.step}}</h5>
                    <img class="step-image mx-auto" src="{{data['images'][loop.index-1]}}" alt="{{step.subtitle}}"> 
                </div>
            {% endfor %}
        </div>
    </div>
    
    
{% endblock %}