{% extends 'template.html' %}
{% block body %}
    <div class="container-fluid">
        <div class="row w-50 mx-auto my-5">
            <h2 class="fw-normal text-center">Tips and Tricks on how to better utilize <br> 3 of Apple’s vision features:<br> </h2>
        </div>
        <br><br><br>
        <div class="d-flex justify-content-evenly row text-center">
            <div class="border p-5 bg-light-blue col-md-3 boxes-links"><h3 class="fw-normal"><a href="/display_and_text_size">Display & Text Size</a></h3></div>
            <div class="border p-5 bg-light-blue col-md-3 boxes-links"><h3 class="fw-normal"><a href="/voice_over">VoiceOver</a></h3></div>
            <div class="border p-5 bg-light-blue col-md-3 boxes-links"><h3 class="fw-normal"><a href="/spoken_content">Spoken Content</a></h3></div>
        </div>
    </div>
{% endblock %}

   
    
