body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.bg-light-blue{
    background-color: #90DDF0;
}
.fs-40{
    font-size: 3.5rem;
}
.navbar{
    --bs-navbar-padding-x: 2rem;
    /* changed the padding left of the navbar */
}